{
    "subjects": [
        {
            "name": "",
            "spreadsheet": {
                "id": "",
                "sheet": "",
                "range": ""
            },
            "drive-folder": "",
            "response-map": "standard"
        }
    ],
    "s3": {
        "bucket": "",
        "directory": ""
    },
    "response-map": {
        "standard": {
            "1": "DivergentBarChart"
        }
    }
}
