{
    "subjects": [
        {
            "name": "",
            "spreadsheet": {
                "id": "",
                "sheet": "",
                "range": ""
            },
            "drive-folder": "",
            "response-map": "standard"
        }
    ],
    "s3": {
        "bucket": "",
        "directory": ""
    },
    "response-map": {
        "standard": {
            "survey-explanation": [
                "Insert paragraph explanations as a separate item in this list."
            ],
            "mappings": {
                "1": "DivergentBarChart"
                "2": "TextSummary"
            }
        }
    }
}
